:80 {
	handle /vnc.html* {
		reverse_proxy aic-web:6080
	}
	handle /app/* {
		reverse_proxy aic-web:6080
	}
	handle /core/* {
		reverse_proxy aic-web:6080
	}
	handle /vendor/* {
		reverse_proxy aic-web:6080
	}
	handle /websockify* {
		reverse_proxy aic-web:6080
	}
	handle /vnc* {
		reverse_proxy aic-web:6080
	}
	handle {
		reverse_proxy aic-web:3000
	}
}

ace-seek.com, www.ace-seek.com, main.ace-seek.com {
	reverse_proxy aic-web:3000
}

portal.ace-seek.com {
	reverse_proxy aic-web:3000
}

openroad.ace-seek.com {
	reverse_proxy aic-web:3000
}

vlsi.ace-seek.com {
	reverse_proxy aic-web:3000
}

tools.ace-seek.com {
	reverse_proxy aic-web:3000
}

# VLSI Learning Platform
vlsi.ace-seek.com {
	reverse_proxy aic-web:3000
}
